<div class="map-container">
  <div id="map" style="height: 800px" data-geom="<%= @military_fired.to_json %>">
    <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
  </div>
</div>
